<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Board</title>
    </head>
    <body>
        <form action="" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>label </th>
                </tr>

            </thead>
            <tbody>
             {% for row_labels in labels %}
                <tr>
                {% for label in row_labels %}
                    <td>
                        {{ label }}
                    </td>
                      {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>
     <form action='/game/display/1' method='GET'>
               {% csrf_token %}
                <button type='submit' value='1' name='player_number'> Player 1 </button>
           </form>
            <form action='/game/display/2' method='GET'>
            {% csrf_token %}
                <button type='submit' value='2' name='player_number'> Player 2 </button>
            </form>
    </body>
</html>