<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Player 2 Board</title>
    </head>
    <body>
        <form action="" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th> Player 2 Game </th>
                </tr>

            </thead>
            <tbody>
             {% for row_labels in labels %}
                <tr>
                {% for label in row_labels %}
                    <td>
                        {{ label }}
                    </td>
                      {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <button type="submit" value="U" name="player_direction"> UP </button>
            <button type="submit" value="D" name="player_direction"> DOWN </button>
            <button type="submit" value="L" name="player_direction"> LEFT </button>
            <button type="submit" value="R" name="player_direction"> RIGHT </button>
    </form>
        <p>Player 1 Score: {{ player1_score }}</p>
       <p>Player 2 Score: {{ player2_score }}</p>
    </body>
</html>